<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header>
        <div class="divHeader">
            <img class="logo" src="/images/logo.svg" alt="logo">
            <form action="" class="formBusqueda">
                <div class="divBusqueda">
                    <input class="barraDeBusqueda"  type="text" name="productosBuscados" placeholder="Buscar productos, marcas">
                    <button class="Lupa" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <!-- <h4 class="barraBusqueda">Buscar productos, marcas</h4> -->
        <!-- <i id="lupa" class="fas fa-search"></i> -->
        
        <div class="tarjetaCredito">
            <i class="fas fa-hand-holding-usd"></i>
            <h4 class="h4tarjeta">Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
        <div class="divUL">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta </a><i class="far fa-address-card icono"></i></li>
                <li><a href="">Ingresá </a><i class="fas fa-sign-in-alt icono"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket icono"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>

    </header>
    <img class="banner" src="/images/home.jpg" alt="banner">
    <main>
        <h3 class="tituloSection">Basado en tu última visita</h3>
        <section class="sectionMain">
            <article>
                <img src="/images/cafetera.jpg" alt="cafetera">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$6.770</h5>
                        <h5 class="porcentaje">40% off</h5>
                    </div>
                    <h5 class="tipoProd">Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/macbook.jpg" alt="macbook">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$230.000</h5>
                        <h5 class="porcentaje">20% off</h5>
                    </div>
                    <h5 class="tipoProd">MacBook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/celular.jpg" alt="celular">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$70.500</h5>
                        <h5 class="porcentaje">10% off</h5>
                    </div>
                    <h5 class="tipoProd">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/SmartTv.jpg" alt="SmartTv">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$23.200</h5>
                        <h5 class="porcentaje">5% off</h5>
                    </div>
                    <h5 class="tipoProd">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
        <h3 class="tituloSection">Sección de Ofertas</h3>
        <section class="sectionMain">
            <article>
                <img src="/images/cafetera.jpg" alt="cafetera">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$6.770</h5>
                        <h5 class="porcentaje">40% off</h5>
                    </div>
                    <h5 class="tipoProd">Cafetera Moulinex</h5>
                </div>
            </article>
            <article>
                <img src="/images/macbook.jpg" alt="macbook">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$230.000</h5>
                        <h5 class="porcentaje">20% off</h5>
                    </div>
                    <h5 class="tipoProd">MacBook Pro 2019</h5>
                </div>
            </article>
            <article>
                <img src="/images/celular.jpg" alt="celular">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$70.500</h5>
                        <h5 class="porcentaje">10% off</h5>
                    </div>
                    <h5 class="tipoProd">Samsung Galaxy S10</h5>
                </div>
            </article>
            <article>
                <img src="/images/SmartTv.jpg" alt="SmartTv">
                <div class="envio">
                    <i class="fas fa-truck"></i>
                    <div class="preciodescuento">
                        <h5 class="precio">$23.200</h5>
                        <h5 class="porcentaje">5% off</h5>
                    </div>
                    <h5 class="tipoProd">SmartTv Samsung 43"</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section class="copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
    </footer>
</body>
</html>