<!DOCTYPE html>
<html lang="es">
    <%- include ("./partials/head",{title:"Loguearse",bootstrapActive: false, appcssActive: false})%>
<body class="bodyLogin">
    <%-include ("./partials/header")%>
    <main class="mainLogin">
        <div class="divLogo">
            <img src="/images/logoGrande.png" alt="logo" class="logoRegister">
        </div>
        <form action="/login" method="post">
            <div>
                <label class="tituloInputRegister" for="usuario">Nombre de usuario</label>
                <input class="barraInput" type="text" name="usuario" value="" id="usuario" placeholder="Nombre de usuario">
                <span class="feedback"></span>
            </div>
            <div>
                <label class="tituloInputRegister" for="contrasena">Contraseña</label>
                <input class="barraInput" type="password" name="contrasena" value="" id="contrasena" placeholder="Contraseña">
                <span class="feedback"></span>
            </div>
            <div class="divBotonLogin">
                <button class="enviarLogin" type="submit">Enviar</button>
            </div>
            <div class="divBotonLogin">
                <a class="botonCrearLogin" href="/register">Crear cuenta</a>
            </div>
        </form>
    </main>
    <%-include ("./partials/footer")%>
</body>
</html>